[Unit]
Description=My Java APP
After=network.target

[Service]
User=git_deploy
Group=deployers
WorkingDirectory=/opt/apps/backend
ExecStart=/usr/bin/java -jar /opt/apps/backend/app-backend.jar
SuccessExitStatus=143
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
